.news {
  padding-top: 15px;
  padding-bottom: 28px;
}

.news__inner {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.news__heading {
  width: 100%;
  margin-bottom: 10px;

  @include desktop {
    margin-bottom: 15px;
  }
}

.news__item {
  
  @include mobile-only {
    margin-bottom: 8px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}